// src/styles/components/notification.scss

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  transition: opacity 0.3s ease;

  button {
    margin-left: 10px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
      color: #ff7e29;
    }
  }
}
