.about {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa; // Light background color for better contrast
  border-radius: 8px; // Rounded corners for modern look

  &__header {
    margin-bottom: 30px;

    h1 {
      font-size: 2.5rem;
      color: #e53935; // Highlight color for the title
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 800px; // Limit content width for readability
    line-height: 1.6; // Improved readability

    section {
      margin-bottom: 40px;

      h2 {
        margin-bottom: 15px;
        font-size: 2rem;
        color: #e53935; // Highlight color for section headings
      }

      p {
        margin-bottom: 10px;
        color: #555;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 10px;
          color: #555;
          font-size: 1.1rem;
          text-align: left; // Left align for better readability
        }
      }
    }
  }

  &__social-media {
    margin-top: 40px;

    h2 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 20px;
      color: #555;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 15px;

      .social-icon {
        font-size: 2rem;
        color: #e53935; // Highlight color for social icons
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #c62828; // Darker shade on hover
        }
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    padding: 10px;

    &__header h1 {
      font-size: 2rem;
    }

    &__content {
      max-width: 100%; // Full width on smaller screens
    }

    section {
      h2 {
        font-size: 1.8rem;
      }

      p,
      li {
        font-size: 1rem; // Adjust text size for better readability on small devices
      }
    }
  }
}
