.about-pizza-hub {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f8f8f8;

  .pizza-hub-content {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    border-radius: 10px; // Add border radius for a polished look
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Add shadow for depth
    overflow: hidden; // Prevent overflow from rounded corners

    .text-content {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center; // Center text vertically

      h2 {
        font-size: 2rem;
        margin-bottom: 10px;
        color: #333; // Darker color for better contrast
      }

      p {
        margin-bottom: 20px;
        line-height: 1.6;
        color: #555; // Slightly lighter for readability
      }

      .order-button {
        padding: 12px 24px; // Adjusted padding for a larger button
        border: none;
        border-radius: 5px;
        background-color: #28a745;
        color: white;
        font-size: 1.1rem; // Slightly larger font size
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s; // Added transform for scaling effect
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Added shadow for depth

        &:hover {
          background-color: #218838;
          transform: translateY(-2px); // Slightly lift the button on hover
        }

        &:active {
          transform: translateY(1px); // Add pressed effect
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); // Reduce shadow on active
        }
      }
    }

    .image-content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 80%; // Adjusted to make the image smaller
        height: auto;
        border-radius: 10px; // Optional: add some border radius
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: add shadow to image
      }
    }
  }

  // Responsive Styles
  @media (max-width: 768px) {
    .pizza-hub-content {
      flex-direction: column;
      text-align: center;

      .text-content {
        padding: 0;
      }

      .image-content {
        margin-top: 20px;
      }
    }
  }
}
