.payment-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  h1, h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .quantity-controls {
    display: flex;
    align-items: center;

    button {
      padding: 5px 10px;
      margin: 0 5px;
      background-color: #ff6347;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #ff4500;
      }
    }
  }

  .delivery-charge, .total-price, .personal-message {
    font-size: 18px;
    text-align: right;
    margin-top: 10px;
  }

  .scanner-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .scanner-image {
      width: 200px;
      height: auto;
    }
  }

  .confirm-order-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;

    &:hover {
      background-color: #45a049;
    }
  }

  .send-letter-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #ff6347;
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px 0;

    &:hover {
      background-color: black;
    }
  }

  .recipient-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
  }

  .message-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    resize: none; /* Prevents resizing */
  }

  .coupon-container {
    margin-top: 20px;
    background-color: #fff8dc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;

    .coupon-input {
      width: 80%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-right: 10px;
    }

    .apply-coupon-button {
      background-color: #008cba;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #007bb5;
      }
    }

    .coupon-success-message {
      margin-top: 10px;
      color: green;
      font-size: 16px;
    }

    .coupon-error-message {
      margin-top: 10px;
      color: red;
      font-size: 16px;
    }
  }
}


